.grid-pane {

    -fx-grid-lines-visible: true;
    -fx-grid-line-color: black;
}

.grid-pane > * {

    -fx-min-width: 140px;
    -fx-min-height: 56px;
    -fx-alignment: center;
}

.choice-box {

    -fx-background-color: transparent;
}